* {
    margin: 0;
    padding: 0;
}

.form-login-f {
    width: 300px;
    background-color: rgb(126, 133, 236);
}

.input-wrapper {
    position: relative;
    padding: 12px;
}

#input-main {
    position: absolute;
    right: 40px;
}

button {
    width: 60px;
    height: 30px;
    margin-left: 110px;
    border-radius: 5px;
}

#label-input {
    font-size: 1rem;
    font-weight: bold;
}

#input-error {
    margin: 10px 0 0 70px;
    color: rgb(155, 0, 0);

}